.slide{
    /* max-width: 350px; */
    margin-inline: auto;
    /* overflow: hidden; */
    border: 1px solid #aeaeae;
    border-radius: 16px;
    padding: 13px;
    min-height: 440px !important;
    padding-bottom: 13px !important;
    position: relative;
    /* z-index: 100000; */
}
.slide.h-auto{
    height: auto !important;
}
.slide .img-wrap{
    /* max-width: 350px; */
    height: 250px;    
    /* height: 90%;     */
    overflow: hidden;
    border-radius: 16px;
}

.slide div{
    width: 100%;
    height: auto;    
}
.slide .content-wrapper{
    width: 90%;
    margin-inline: auto;
    margin-left: 13px;
}
/* .slide .content-wrapper{
    position: absolute;
    top: 270px;
    z-index: 100;
    background-color: #fff;
    background-color: red;
    height: 100px;
    width: 90%;
    margin-inline: auto;
    margin-left: 13px;
} */
.slide h3{
    font-size: var(--h3-font-size);
    font-weight: 600;
    font-family: var(--subtitle-font);
    color: #EF7319;
    margin-top: 0.7rem;
}

.slide ul li{
    list-style: disc !important;
    list-style: disc !important;
    font-weight: 400;
    font-size: var(--normal-font-size);   
    color: #616161; 
}
.slide .contents{
    width: 100%;
    margin-inline: auto;
    margin-left: 12px;
}
.slide button{
    padding: 10px 20px;
    background-color: #f8e8dc;
    color: #EF7319;
    /* color: #1a1a1a; */
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 5px; */
    margin-bottom: 13px;
    margin-top: 5px;
}

