.img-holder{
    width: 100%;    
    overflow: visible !important;
    min-height: 440px !important;
    padding-bottom: 13px !important;
    object-fit: contain;
    border: 1px solid #aeaeae;
    border-radius: 16px;
    padding: 13px;
}
.img-holder button{
    padding: 10px 20px;
    background-color: #f8e8dc;
    color: #EF7319;
    /* color: #1a1a1a; */
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7px;
    margin-bottom: 13px;
    margin-top: 5px;
}

.img-holder .img{
    width: 100%;    
    height: 250px;
    border-radius: 16px;   
    overflow: hidden !important;
}
.img-holder .img img{
    width: 100%;
    transition: all 1.2s ease;
    height: 100%;
}
.img-holder .img img:hover{
    transform: scale(1.2);    
}

.img-holder .content-wrapper{
    width: 90%;
    margin-inline: auto;
    margin-left: 13px;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 500ms ease;
    height: fit-content !important;
}
.img-holder .content-wrapper.slide{
    transform: translateY(-200px);
    width: 100% !important;
    padding: 25px;
    margin-left: unset !important;
    /* border: none; */
}
.img-holder h3{
    font-size: var(--h3-font-size);
    font-weight: 600;
    font-family: var(--subtitle-font);
    color: #EF7319;
    margin-top: 0.7rem;
}

.img-holder ul li{
    list-style: disc !important;
    list-style: disc !important;
    font-weight: 400;
    font-size: var(--normal-font-size);   
    color: #616161; 
}
.img-holder .contents{
    width: 100%;
    margin-inline: auto;
}
.img-holder button{
    padding: 10px 20px;
    background-color: #f8e8dc;
    color: #EF7319;
    /* color: #1a1a1a; */
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7px;
    margin-bottom: 13px;
    margin-top: 5px;
}